<server-menu server="server"></server-menu>

<div class="container">
  
  <nav class="navbar flex-row-reverse">
    <button type="button" class="btn btn-primary" (click)="createNew()">Create</button>
  </nav>
  
  <div class="container border rounded bg-light-subtle p-3">
    <li class="list-group">
      <ul class="row border-bottom" *ngFor="let item of schedule | keyvalue">
        <div class="col-1 col-sm-2 col-md-2"><h4 class="event-date" [ngClass]="{'current': isCurrent(item.key)}">{{item.key|dateTimeToFormat:'dd'}}</h4>&nbsp;<span class="event-day">{{item.key|dateTimeToFormat:'LLL, EEE'}}</span></div>
        <li class="list-group col event-list">
          <ng-container *ngFor="let dayItem of $any(item.value)">
            <ul class="row pb-1 pt-1" [ngClass]="{'editable': isEditable(dayItem)}" (click)='isEditable(dayItem) ? edit(dayItem) : false'>
              <div class="col-9 col-sm-7 col-md-5 col-lg-4 col-xl-3"><i class="circle {{dayItem.type}}"></i>{{dayItem.dtStart|dateTimeToLocaleString:timeFormat}}-{{dayItem.dtEnd|dateTimeToLocaleString:timeFormat}}<i class="fa-solid fa-repeat" *ngIf="dayItem.recurrent" title="Recurrent"></i></div>
              <div class="col"><span class="event-summary">{{dayItem.summary}}</span><span class="event-location" *ngIf="dayItem.location">[{{dayItem.location}}]</span></div>
            </ul>
          </ng-container>
        </li>
      </ul>
    </li>
  </div>

</div>

<dialog-agenda-new *ngIf="server" [guildId]="server.id" (save)="loadEvents()" #dialog></dialog-agenda-new>



