@import "./bootstrap";
@import "@ng-select/ng-select/scss/default.theme";

fieldset {
    @extend .border;
    @extend .border-light;
    @extend .rounded;
    @extend .p-3;
    @extend .m-2;
}

select option:disabled {
    background: none;
}

.ng-touched.ng-invalid, .ng-dirty.ng-invalid {
    @extend .is-invalid;
}

.message-container {
    z-index: 99999;
}

.card-body .form-group {
    margin-top: 10px;
}

.popElement {
  max-width: fit-content !important;
  min-width: 325px !important;
  font-size: 10px;
}
