<div class="container table-responsive mt-4">

  <div class="row" (keyup.enter)="search()">
     <div class="col-6">
       <input type="text" class="form-control" placeholder="Name" aria-label="name" [(ngModel)]="query.name">
    </div>
     <div class="col-2">
       <!--input type="text" class="form-control" placeholder="Tag" aria-label="tag"-->
       <select class="form-select" id="tag" name="tag" [(ngModel)]="query.tag">
        <option selected disabled>Tag</option>
        <option value="">- ANY -</option>
        @for (t of tags; track t) {
          @if (t == '') {
            <option value="[|]">- Tagless -</option>  
          } @else {
            <option value="{{t}}">{{t}}</option>
          }
        }
      </select>
    </div>
    <div class="col-2">
      <select class="form-select" id="version" name="version" [(ngModel)]="query.version">
          <option selected disabled>Snaphost</option>
          <option value="*">ALL</option>
          @for (op of versions; track op) {
            <option value="{{op}}">{{op}}</option>
          }
        </select>
    </div>
    <div class="col">
      <button (click)="search()" class="btn btn-primary mr" type="button" title="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
      <button (click)="search()" class="btn btn-secondary" type="button" title="Download"><i class="fa-solid fa-download"></i></button>
    </div>
  </div>    

  <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">
    <table class="table table-dark table-striped table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Level</th>
          <th scope="col">Tag</th>
          <th scope="col">Power</th>
          <th scope="col">PD</th>
          <th scope="col">RSS</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      <tbody>
          <tr *cdkVirtualFor="let player of resultList; templateCacheSize: 200">
            <th scope="row">{{player.name}}</th>
            <td>{{player.level}}</td>
            <td>{{player.tag}}</td>
            <td>{{player.power}}</td>
            <td>{{player.pd}}</td>
            <td>{{player.rss}}</td>
            <td>{{player.version}}</td>
          </tr>
      </tbody>
    </table>  
  </cdk-virtual-scroll-viewport>
  </div>