<server-menu server="server"></server-menu>

<div class="d-flex flex-row justify-content-center">
  <div class="p-4">
    <button [routerLink]="'/config'" class="border rounded shadow-lg">
        <img src="/assets/cog.svg" width="128px" height="128px">
      <p>Settings</p>
    </button>
  </div>
  <div class="p-4">
    <button [routerLink]="'/events'" class="border rounded- shadow-lg">
        <img src="/assets/agenda.svg" width="128px" height="128px">
        <p>Events</p>
    </button>
  </div>
</div>