<form (ngSubmit)="trySave()" #form="ngForm">
    <div class="card">
        <div class="card-header">Autofollow Threads <button (click)="addNew()" type="button" class="btn btn-primary float-end"><i class="fas fa-plus"></i></button></div>
        <div class="card-body">
            <div class="container">
                <div class="row mt-2" *ngFor="let element of configs; index as it">
                  <div class="col">
                    <select 
                    [name]="'elem' + it"
                    class="form-select text-white"
                    [(ngModel)]="element.channel"
                    required="required"
                    #field1="ngModel"
                    [ngClass]="{'is-valid': (form.submitted || field1.touched) && field1.valid, 'is-invalid': (form.submitted || field1.touched) && field1.invalid}">
                        <option value="">...</option>
                        <ng-container *ngFor="let c of channels$ | async | keyvalue">
                            <optgroup label="{{c.key}}">
                                <option *ngFor="let o of $any(c.value)" [ngValue]="o.id">{{o.name}}</option>
                            </optgroup>
                        </ng-container>
                    </select>                    
                  </div>
                  <div class="col-1">
                    <button type="button" (click)="delete(it, element.id)" class="btn btn-danger float-end"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button *ngIf="configs.length > 0" type="submit" class="btn btn-success">Save</button>&nbsp;
        </div>    
    </div>
</form>