<form (ngSubmit)="trySave()" #form="ngForm">
<div class="card" *ngIf="config && editables">
    <div class="card-header">{{config.description}}
        <button *ngIf="config.add" (click)="addNew()" type="button" class="btn btn-primary float-end"><i class="fas fa-plus"></i></button>
    </div>
    <div class="card-body" *ngFor="let element of editables; index as it">
        <div class="border rounded border-light container pt-2 pb-2">
            <button type="button" (click)="delete(it, element.valueid)" class="btn btn-danger float-end"><i class="fas fa-trash-alt"></i></button>
            <ng-container *ngFor="let item of element.values; index as itemIt">
                <label class="mt-1">{{item.description}}</label>
                <ng-container *ngIf="item.options; else noChoice">
                    <select 
                    [compareWith]="optionComparator"
                    [name]="it + item.name + itemIt"
                    class="form-select text-white"
                    [(ngModel)]="item.value"
                    [multiple]="item.list"
                    [size]="item.list ? 10 : 1"
                    [required]="item.required"
                    #field1="ngModel"
                    [ngClass]="{'is-valid': (form.submitted || field1.touched) && field1.valid, 'is-invalid': (form.submitted || field1.touched) && field1.invalid}">
                        <option value="" *ngIf="!item.list">...</option>
                        <ng-container *ngFor="let c of item.options | async | keyvalue">
                            <optgroup label="{{c.key}}">
                                <option *ngFor="let o of $any(c.value)" [ngValue]="o.id">{{o.name}}</option>
                            </optgroup>
                        </ng-container>
                    </select>
                </ng-container>
                <ng-template #noChoice>
                    <input 
                    [name]="it + item.name + itemIt"
                    type="text"
                    class="form-control text-white"
                    [(ngModel)]="item.value"
                    [required]="item.required"
                    [pattern]="item.pattern"
                    #field1="ngModel"
                    [ngClass]="{'is-valid': (form.submitted || field1.touched) && field1.valid, 'is-invalid': (form.submitted || field1.touched) && field1.invalid}">
                </ng-template>
            </ng-container>
        </div>
    </div>
    <div class="card-footer text-center">
        <button type="submit" class="btn btn-success">Save</button>&nbsp;
    </div>    
</div>
</form>