<div class="list-group mt-5 mb-4">
    <div class="d-flex mt-1 mb-2" *ngIf="server">
      <img src="{{server.icon}}" width="32px" height="32px">&nbsp;
      <h5>{{server.name}}</h5>
    </div>

    <form (ngSubmit)="trySave()" #form="ngForm">
      <div class="card" *ngIf="isReady">
          <div class="card-body">

              <fieldset>
                <legend>Channels</legend>
                <div class="form-group">
                  <label for="announcements">Announcements</label>
                  <select-channel-input name="announcements" [options]="channels" [(ngModel)]="config.channels.announcements"></select-channel-input>
                </div>

                <div class="form-group">
                  <label for="territory">Territory</label>
                  <select-channel-input (change)="printChange($event)" name="territory" [options]="channels" [(ngModel)]="config.channels.territory"></select-channel-input>
                </div>

                <div class="form-group">
                  <label for="scheduledEvents">Scheduled Events</label>
                  <select-channel-input name="scheduledEvents" [options]="channels" [(ngModel)]="config.channels.scheduledEvents"></select-channel-input>
                </div>
              </fieldset>

              <fieldset>
                <div class="form-group">
                  <label for="alliance">Alliance Tag</label>
                  <input name="alliance" type="text" class="form-control" [(ngModel)]="config.allianceTag">
                </div>

                <div class="form-group">
                  <label for="calendar">External Territory Calendar Link (.ics)</label>
                  <input name="calendar" type="text" class="form-control" [(ngModel)]="config.territoyCalendar" pattern="(https|http):\/\/.*">
                </div>
              </fieldset>

              <fieldset>
                <legend>Autofollow New Threads
                  <button (click)="addNewThreadFollow()" type="button" class="btn btn-primary float-end"><i class="fas fa-plus"></i></button>
                </legend>

                <div class="container-fluid border p-2 rounded mb-2" *ngFor="let nta of config.autoFollowThreadChannels; index as i" ngModelGroup="followGroup_{{i}}">

                  <div class="clearfix">
                    <button (click)="removeThreadFollow(i)" type="button" class="btn btn-danger float-end"><i class="fas fa-minus"></i></button>
                  </div>

                  <div class="row">
                    <div class="col-10">
                      <div class="form-group">
                        <label for="autoFollowThreadChannel{{i}}">Channel</label>
                        <select-channel-input name="autoFollowThreadChannel{{i}}" [options]="channels" [(ngModel)]="nta.channel"></select-channel-input>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="autoFollowThreadSilent{{i}}">Silent</label>
                        <toggle-switch-input class="d-block" name="autoFollowThreadSilent{{i}}" [(ngModel)]="nta.silent"></toggle-switch-input>
                      </div>
                    </div>
                  </div>

                </div>
              </fieldset>

              <fieldset>
                <legend>Announce New Threads
                  <button (click)="addNewThreadAnnouncer()" type="button" class="btn btn-primary float-end"><i class="fas fa-plus"></i></button>
                </legend>
                <div class="container-fluid border p-2 rounded mb-2" *ngFor="let nta of config.newThreadAnnouncer; index as i" ngModelGroup="ntaGroup_{{i}}">
                  
                  <div class="clearfix">
                    <button (click)="removeThreadAnnouncer(i)" type="button" class="btn btn-danger float-end"><i class="fas fa-minus"></i></button>
                  </div>

                  <div class="form-group">
                    <label for="newThreadAnnouncerMessage">Message</label>
                    <input name="newThreadAnnouncerMessage" type="text" class="form-control" [(ngModel)]="nta.message" required>
                    <p>Available placeholders: <span class="badge bg-secondary">&#123;channel&#125;</span> <span class="badge bg-secondary ms-2 me-2">&#123;user&#125;</span> <span class="badge bg-secondary">&#123;title&#125;</span></p>
                  </div>

                  <div class="form-group">
                    <label for="newThreadAnnouncerAnnounceChannel">Announce in Channel</label>
                    <select-channel-input name="newThreadAnnouncerAnnounceChannel" [options]="channels" [(ngModel)]="nta.announceChannel"></select-channel-input>
                  </div>

                  <div class="form-group">
                    <label for="newThreadAnnouncerChannels">Watch Channels</label>
                    <select-channel-input name="newThreadAnnouncerChannels" [options]="channels" [(ngModel)]="nta.channels" [multiple]="true"></select-channel-input>
                  </div>

                </div>

              </fieldset>

          </div>

          <div class="card-footer text-center">
              <button type="submit" class="btn btn-success">Save</button>&nbsp;
          </div>            
        </div>
    </form>      

</div>

