<div class="list-group mt-5 mb-4">

    <form (ngSubmit)="trySave()" #form="ngForm">
      <div class="card" *ngIf="isReady">
          <div class="card-body">

              <fieldset>
                <legend>Channels</legend>
                <div class="form-group">
                  <label for="announcements" class="form-label">Announcements</label>
                  <select-channel-input class="form-control" name="announcements" [options]="channels" [(ngModel)]="config.channels.announcements"></select-channel-input>
                </div>

                <div class="form-group">
                  <label for="territory">Territory</label>
                  <select-channel-input class="form-control" (change)="printChange($event)" name="territory" [options]="channels" [(ngModel)]="config.channels.territory"></select-channel-input>
                </div>

                <div class="form-group">
                  <label for="scheduledEvents">Scheduled Events</label>
                  <select-channel-input class="form-control" name="scheduledEvents" [options]="channels" [(ngModel)]="config.channels.scheduledEvents"></select-channel-input>
                </div>

                <div class="form-group">
                  <label for="dailyTerritory">Daily Territory Schedule</label>
                  <select-channel-input class="form-control" name="dailyTerritory" [options]="channels" [(ngModel)]="config.channels.dailyTerritory"></select-channel-input>
                </div>                
                
              </fieldset>

              <fieldset>
                <div class="form-group">
                  <label for="alliance">Alliance Tag</label>
                  <input name="alliance" type="text" class="form-control" [(ngModel)]="config.allianceTag">
                </div>

                <div class="form-group">
                  <label for="calendar">External Territory Calendar Link (.ics)</label>
                  <input name="calendar" type="text" class="form-control" [(ngModel)]="config.territoyCalendar" pattern="(https|http):\/\/.*">
                </div>
              </fieldset>

          </div>

          <div class="card-footer text-center">
              <button type="submit" class="btn btn-success">Save</button>&nbsp;
          </div>            
        </div>
    </form>      

</div>

