<div class="list-group mt-5 mb-4">

    <form (ngSubmit)="trySave()" #form="ngForm">
      <div class="card" *ngIf="isReady">
          <div class="card-body">

            <fieldset>
              <legend>Announce New Threads
                <button (click)="addNewThreadAnnouncer()" type="button" class="btn btn-primary float-end"><i class="fas fa-plus"></i></button>
              </legend>
              <div class="container-fluid border p-2 rounded mb-2" *ngFor="let nta of config.newThreadAnnouncer; index as i" ngModelGroup="ntaGroup_{{i}}">
                
                <div class="clearfix">
                  <button (click)="removeThreadAnnouncer(i)" type="button" class="btn btn-danger float-end"><i class="fas fa-minus"></i></button>
                </div>

                <div class="form-group">
                  <label for="newThreadAnnouncerMessage">Message</label>
                  <input name="newThreadAnnouncerMessage" type="text" class="form-control" [(ngModel)]="nta.message" required>
                  <p class="form-text">Available placeholders: <span class="badge bg-secondary">&#123;channel&#125;</span> <span class="badge bg-secondary ms-2 me-2">&#123;user&#125;</span> <span class="badge bg-secondary">&#123;title&#125;</span></p>
                </div>

                <div class="form-group">
                  <label for="newThreadAnnouncerAnnounceChannel">Announce in Channel</label>
                  <select-channel-input name="newThreadAnnouncerAnnounceChannel" [options]="channels" [(ngModel)]="nta.announceChannel"></select-channel-input>
                </div>

                <div class="form-group">
                  <label for="newThreadAnnouncerChannels">Watch Channels</label>
                  <select-channel-input name="newThreadAnnouncerChannels" [options]="channels" [(ngModel)]="nta.channels" [multiple]="true"></select-channel-input>
                </div>

              </div>

            </fieldset>         

          </div>

          <div class="card-footer text-center">
              <button type="submit" class="btn btn-success">Save</button>&nbsp;
          </div>            
        </div>
    </form>      

</div>

