<div class="list-group mt-5 mb-4">

    <form (ngSubmit)="trySave()" #form="ngForm">
      <div class="card" *ngIf="isReady">
          <div class="card-body">

            <fieldset>
              <legend>Autofollow New Threads
                <button (click)="addNewThreadFollow()" type="button" class="btn btn-primary float-end"><i class="fas fa-plus"></i></button>
              </legend>

              <div class="container-fluid border p-2 rounded mb-2" *ngFor="let nta of config.autoFollowThreadChannels; index as i" ngModelGroup="followGroup_{{i}}">

                <div class="clearfix">
                  <button (click)="removeThreadFollow(i)" type="button" class="btn btn-danger float-end"><i class="fas fa-minus"></i></button>
                </div>

                <div class="row">
                  <div class="col-10">
                    <div class="form-group">
                      <label for="autoFollowThreadChannel{{i}}">Channel</label>
                      <select-channel-input class="form-control" name="autoFollowThreadChannel{{i}}" [options]="channels" [(ngModel)]="nta.channel" required></select-channel-input>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="autoFollowThreadSilent{{i}}">Silent</label>
                      <toggle-switch-input class="d-block" name="autoFollowThreadSilent{{i}}" [(ngModel)]="nta.silent"></toggle-switch-input>
                    </div>
                  </div>
                </div>

              </div>
            </fieldset>            

          </div>

          <div class="card-footer text-center">
              <button type="submit" class="btn btn-success">Save</button>&nbsp;
          </div>            
        </div>
    </form>      

</div>

